<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="social d-flex justify-content-center">
            <a class="mx-2 social-icon" href="/twitch/"><i class="fab fa-twitch"></i></a>
            <a class="mx-2 social-icon" href="/youtube/"><i class="fab fa-youtube"></i></a>
            <a class="mx-2 social-icon" href="/instagram/"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</section>

<footer class="footer bg-black small text-center text-white-50">
    <div class="container px-4 px-lg-5">&copy; Gulanova 2024, developed by <a href="https://github.com/ant1po1e"
            target="_blank" rel="noopener noreferrer">Antipole</a> and <a href="https://github.com/ZuTuu"
            target="_blank" rel="noopener noreferrer">danar</a></div>
</footer>