@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@plugin "tailwind-scrollbar";
@source "../.flowbite-react/class-list.json";

body {
	background: url(/bg.webp);
	-webkit-background-size: cover;
	background-size: 150%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	font-family: "Inter", sans-serif;
}

@media (max-width: 768px) {
	body {
		background-size: 400%;
		background-position: center;
	}
}

.fade-out-bg {
	background: linear-gradient(
		135deg,
		#000513 0%,
		#00102e 25%,
		#021c41 50%
	);
}

.font-merienda {
	font-family: "Merienda", cursive;
}

.font-quicksand {
	font-family: "Quicksand", sans-serif;
}

.neon {
	color: #fff;
	filter: drop-shadow(0 0 3px #fff) drop-shadow(0 0 8px rgb(147 197 253));
}

.neon-underline {
	color: #fff;
	box-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 50px rgb(147 197 253),
		0 0 50px rgb(147 197 253);
}

.modal-backdrop {
	pointer-events: none;
}

/* tambahkan di index.css / global.css */
@keyframes shimmer {
	0% {
		background-position: -500px 0;
	}
	100% {
		background-position: 500px 0;
	}
}

@keyframes shimmer {
	100% {
		transform: translateX(100%);
	}
}

.markdown ul {
	list-style-type: disc;
	padding-left: 1.25rem; /* sama kayak Tailwind pl-5 */
}
.markdown ol {
	list-style-type: decimal;
	padding-left: 1.25rem;
}
.markdown li {
	margin: 0.25rem 0;
}
